@import url('https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Marcellus&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Marcellus&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
}

#recipe,
#pages {
    cursor: pointer;
}

.drop-down-recipe {
    display: flex;
    flex-direction: column;
    position: absolute;
    border-radius: 10px;
    margin-top: .5rem;
    height: 57px;
    opacity: 0;
    pointer-events: none;
    gap: 10px;
    overflow: hidden;
    margin-left: -10.4rem;
    background-color: #ffffff;
    transition: all .2s ease-in-out;
}

.drop-down li,
.drop-down-recipe li {
    padding: 7px 10px 5px 20px;
    transition: all .1s ease-in-out;
}

.drop-down li:hover,
.drop-down-recipe li:hover {
    width: 100%;
    background-color: #bababa;
}

.drop-down {
    width: 170px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: none;
    position: absolute;
    margin-left: -7.4rem;
    margin-top: .5rem;
    border-radius: 10px;
    height: 170px;
    opacity: 0;
    overflow: hidden;
    background-color: #ffffff;
    transition: all .2s ease-in-out;
}

.active {
    height: 200px;
    opacity: 1;
    pointer-events: all;
    margin-top: 1.5rem;
}

.active2 {
    height: 74px;
    pointer-events: all;
    opacity: 1;
    margin-top: 1.5rem;
}

@keyframes active {
    0% {
        opacity: 0;
        display: none;
        margin-top: -2rem;
    }

    50% {
        display: block;
        opacity: 0;
        margin-top: -2rem;
    }

    100% {
        display: block;
        opacity: 1;
        margin-top: 0rem;
    }
}


.header-flex {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homepage-width {
    width: 1100px;
    margin: 0 auto;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.main-nav li a {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #000;
    font-size: 16px;
    font-weight: 520;
    font-family: 'Inter', sans-serif;
}

.user-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.user-pic i {
    font-size: 30px;
    cursor: pointer;
}

.user-pic img {
    cursor: pointer;
}

.responsive-menu {
    display: none;
}


@media only screen and (max-width: 375px) {
    .container {
        max-width: 375px;
        margin: 0 auto;
        width: 100%;
    }

    .homepage-width {
        max-width: 345px;
        margin: 0 auto;
        width: 100%;
    }

    .header-logo a img {
        width: 100px;
    }

    .responsive-menu {
        display: block;
    }

    .header-nav {
        display: none;
    }
}