.header-flex {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homepage-width {
    width: 1100px;
    margin: 0 auto;
}

.header-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.header-nav ul li a {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #000;
    font-size: 16px;
    font-weight: 520;
    font-family: 'Inter', sans-serif;
}

.user-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 200px;
}

.user-pic i {
    font-size: 30px;
    cursor: pointer;
}

.user-pic img {
    cursor: pointer;
}