.header-flex {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homepage-width {
    width: 1100px;
    margin: 0 auto;
}

.header-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.header-nav ul li a {
    display: flex;
    align-items: center;
    gap: 7px;
    color: #000;
    font-size: 16px;
    font-weight: 520;
    font-family: 'Inter', sans-serif;
}

.user-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 200px;
}

.user-pic i {
    font-size: 30px;
    cursor: pointer;
}

.user-pic img {
    cursor: pointer;
}

.section1-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-flex-text {
    width: 420px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 65px;
    gap: 20px;
    flex-direction: column;
    background-color: #E3F1FF;
}

.section1-flex-text-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 28px;
}

.section1-flex-text-icon {
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    top: 75%;
    left: 81%;
}